$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  padding-left: 20px;
  padding-right: 20px;  
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
  color: #F5F5F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover
{
  color: white;
  text-decoration:none; 
}

body
{
  padding-top: 80px;
    color: lightslategray;
}
body a {
  color: #79B3E5;
}
.nav_item
{
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.btn
{
  margin-left:5px;
}

.nav_ul_item
{
  padding-right: 25px;
  padding-left: 25px;
  float: left;
  margin-top: 20px;
}

.navbar-fixed-top
{
  padding: 15px;
}

.btn
{
  background-color: #F5F5F5;
  opacity: 1;
}
.btn-default 
{
  color: #333333;
  background-color: rgb(81, 78, 78);
  border-color: #5E5A5A;
  margin-right: 10px;
  opacity: 1;
}

.btn-default:hover
{
  color: #333333;
  background-color: rgb(81, 78, 78);
  border-color: #5E5A5A;
  margin-right: 10px;
  opacity: 0.75;
}

.btn-danger
{
  background-color: #B61D18;
  opacity: 1;
}

.btn-danger:hover
{
  background-color: #B61D18;
  opacity: 0.75;
}

.btn-success
{
  background-color: #5DB3E5;
  border-color: #3585DE;
  opacity: 1;
}

.btn-success:hover
{
  background-color: #5DB3E5;
  border-color: #3585DE;
  opacity: 0.75;
}

.center
{
  text-align: center;
}

h1, h2, h3, h4 
{
  line-height: 1;
}

h1
{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 46px;
  text-align: center;
}

h2
{
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3
{
  font-weight: bold;
}

.left
{
  text-align: left;
  letter-spacing: .5px;
}

.footer
{
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.well
{
  background-color: #EDEDED;
}


.input_checkbox input
{
  width: auto !important;
  
}

input
{
  height: auto !important;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  margin-top: 35px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}

.show_producer
{
  margin: 10px 10px 10px 10px;
}